<button ng-click="logout()">Logout Here!</button>
<h1>Welcome {{user}}!</h1>
<label>
Search <input type='text' ng-model="search.$" class="search">
</label>

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Topic</th>
            <th>Username</th>
            <th>Posts</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="topic in topics | filter:search">
            <td>{{topic.category}}</td>
            <td><a href="/#!/topic/{{topic._id}}">{{topic.name}}</a></td>
            <td><a href="/#!/profile/{{topic._user._id}}">{{topic._user.username}}</a></td>
            <td>{{topic.posts.length}}</td>
        </tr>
    </tbody>
</table>

<h1>Add a new Topic!</h1>
<form ng-submit="addTopic()">
    <label>
  Topic: <input type='text' ng-model="topic.name">
  </label>
    </br>
    <label>
   Description: <textarea ng-model="topic.description"></textarea>
 </label>
    <br>
    <label>
   Category:
  <select ng-model="topic.category">
      <option value="">Select an Option</option>

      <option value="Ruby">HTML</option>
      <option value="MEAN">CSS</option>
      <option value="CSS">Python</option>
      <option value="Python">MEAN</option>
      <option value="HTML">Ruby</option>
      <option value="Other">Other</option>
  </select>
  </label>
    <input type='submit' value='Submit'>
</form>