<a class="tag" href="#!/list"><h3>List</h3></a> | <a class="tag" href="#!/addplayer"><h3>Add Player</h3></a>

<table class="list_table">
    <thead>
        <tr>
            <th> Player Name </th>
            <th> Preferred Position </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="player in players">
            <td> {{player.name}} </td>
            <td> {{player.position}} </td>
            <td> <button ng-click="deletePlayer(player._id)" class="button buttondelete"> DELETE </button>  </td>
        </tr>
    </tbody>
</table> 