<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to the "Quoting" Dojo</h1>
    <form action="/quotes", method='post'>
    Name:<br>
    <input type="text" name="name" value="Wednesday">
    <br>
    Quote:<br>
    <textarea name="quote" rows='8' cols='40'></textarea>
    <br><br>
    <input type="submit" value="Add My Quote!"> <a href="/quotes">Skip to Quotes</a>
</form> 
</body>
</html>