<h2> Select Players</h2>

<div class="scroll">
    <div class="box">
        <div ng-if="user1.avatar_url"> <!--If the user is already loaded, use that user-->
            <img src="{{user1.avatar_url}}" alt="user1">
            <span>{{user1.name}}</span>
        </div>
        <div ng-if="!user1.avatar_url"> <!--If the user is not loaded, grab that user from github-->
            <form ng-submit="createUser1()">
                <h3> Player 1 </h3>
                <label for=""> Github Username </label>
                <input type="text" ng-model="user1.username">
                <input class="button" type="submit" value="Get User">
            </form>
        </div>
    </div>
    <div class="box">
        <div ng-if="user2.avatar_url"> <!--If the user is already loaded, use that user-->
            <img src="{{user2.avatar_url}}" alt="user2">
            <span>{{user2.name}}</span>
        </div>
        <div ng-if="!user2.avatar_url"> <!--If the user is not loaded, grab that user from github-->
            <form ng-submit="createUser2()">
                <h3> Player 2 </h3>
                <label for=""> Github Username </label>
                <input type="text" ng-model="user2.username">
                <input class="button" type="submit" value="Get User">
            </form>
        </div>
    </div>
    <div ng-if="user1.avatar_url && user2.avatar_url"> <!-- If both users have been selected, redirect to the results of battle-->
        <form ng-submit="results()">
            <input class="button" type="submit" value="Battle">
        </form>
    </div>
</div>