<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <h1>Simple form to enter some new car information! Maybe a sweet concept car or something!</h1>
    <form action="/cars/new">
        Name:<br>
        <input type="text" name="name" value="Gert">
        <br> Make:
        <br>
        <input type="text" name="make" value="Pontiac">
        <br> Model:
        <br>
        <input type="text" name="model" value="Firebird">
        <br> How many vrooms?:
        <br>
        <input type="text" name="vroom" value="So Many Vrooms!">
        <br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>